@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@font-face {
  font-family: UniSans;
  src: url("../fonts/Uni Sans Thin.otf") format("opentype"); }
@font-face {
  font-family: UniSansBold;
  src: url("../fonts/Uni Sans Heavy.otf") format("opentype"); }
html {
  font-size: 16px;
  font-family: sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 700px; }
  @media screen and (max-width: 768px) {
    html {
      min-height: 550px; } }

body {
  border-top: 4px solid #e82618; }

html, body {
  padding: 0;
  margin: 0; }

a, a:visited, a:hover, a:active {
  text-decoration: none; }

*, *:after, *:before {
  box-sizing: border-box; }

.btn {
  letter-spacing: 1px; }

.btn--grey {
  background-color: #676666;
  transition: background 0.4s ease-in-out; }
  .btn--grey:hover {
    background-color: #4d4d4d; }

.btn--red {
  background-color: #e82618;
  transition: background 0.4s ease-in-out; }
  .btn--red:hover {
    background-color: #ba1e13; }

.page {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%; }

.page::after {
  content: "";
  background-image: url("../img/main_background.png");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; }

.u-content {
  position: fixed;
  max-width: 1000px;
  min-width: 768px;
  width: 100%;
  right: auto;
  left: auto;
  top: 200px;
  bottom: 210px; }
  .u-content:after {
    content: "";
    display: table;
    clear: both; }

.u-container {
  max-width: 1000px;
  min-width: 768px;
  margin: 0 auto; }

.c-header {
  position: fixed;
  top: 4px;
  width: 100%;
  height: 130px;
  background-color: #fbfcfd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.c-header__inner {
  position: relative;
  height: 100%; }

.c-header__logo-container {
  float: left;
  height: 100%;
  padding: 24px; }

.c-header__logo {
  height: 100%; }

.c-header__links {
  float: right;
  margin: 65px 20px 15px 0;
  padding: 0;
  list-style: none; }

.c-header__link {
  position: relative;
  display: inline-block;
  padding: 20px 0; }
  .c-header__link a {
    padding: 30px 5px;
    color: #4a4a4a;
    transition: color .4s ease; }
  .c-header__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    background-color: transparent;
    height: 5px;
    transition: background-color .4s ease; }

.c-header__link:hover a {
  color: black; }
.c-header__link:hover:after {
  background-color: #676666; }

.c-header__link--active a {
  color: #313131; }
.c-header__link--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  background-color: #676666;
  height: 5px; }

@media screen and (max-width: 880px) {
  .c-header__link {
    display: none;
    text-align: center; }

  .c-header__link--active {
    display: block;
    padding-right: 20px; }
    .c-header__link--active:before {
      content: "\f078";
      color: #313131;
      position: absolute;
      font-family: FontAwesome;
      right: 0; } }
.c-header__select {
  display: none; }
  @media screen and (max-width: 880px) {
    .c-header__select {
      position: absolute;
      top: 80px;
      right: 10px;
      display: block;
      height: 40px;
      width: 140px;
      outline: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      filter: alpha(opacity=0);
      visibility: visible;
      border: 0;
      line-height: 40px;
      opacity: 0; } }

.c-header__links-upper {
  position: absolute;
  top: -1px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

.c-header__link-upper {
  font-family: "UniSansBold";
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  width: 130px;
  border: 1px solid #ecedee;
  border-top-width: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ffffff;
  transition: background 0.4s ease-in-out; }
  .c-header__link-upper a {
    display: block;
    color: #676666;
    padding: 10px 20px; }
  .c-header__link-upper:hover {
    background-color: #f2f2f2; }

.c-header__link-upper--active {
  background-color: #e82618;
  border: 1px solid #e82618; }
  .c-header__link-upper--active a {
    color: #ffffff; }
  .c-header__link-upper--active:hover {
    background-color: #ba1e13; }

.c-nav {
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 100%;
  min-width: 768px;
  background: #676666;
  border-bottom: 4px solid #4a4a4a; }

.c-nav__btns {
  text-align: center;
  padding: 0;
  margin: 0;
  transform: translateY(-40px); }

.c-nav__btn {
  position: relative;
  display: inline-block;
  margin: 0 45px;
  border-radius: 50%;
  border: 6px solid rgba(200, 200, 200, 0.49); }

.c-nav__link {
  height: 100px;
  width: 100px;
  display: block;
  background-color: white;
  border-radius: 50%;
  transition: background-color, 0.4s, ease; }
  .c-nav__link:hover {
    background-color: #4d4d4d; }

.c-nav__fa-icon {
  color: #676666;
  line-height: 100px;
  transition: color, 0.4s, ease; }
  .c-nav__link:hover .c-nav__fa-icon {
    color: white; }

.c-nav__btn__text {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px; }

.c-box {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #edf0f1;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100%; }
  .c-box:after {
    content: "";
    display: table;
    clear: both; }

.c-box__column {
  padding: 8px; }
  .c-box__column:empty {
    display: none; }

.c-box__column--left {
  flex: 2;
  height: 100%; }

.c-box__column--right {
  flex: 3;
  overflow-y: auto;
  padding: 20px 50px; }

.c-box__title {
  font-family: "Roboto", sans-serif;
  color: #e82618;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 10px 0; }

.c-form-group {
  display: block;
  margin-bottom: 15px; }

.c-form__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 6px;
  font-weight: 700; }

.c-form__control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 34px;
  color: #4a4a4a;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px; }

.c-form__file-upload {
  border: 3px dashed #cccccc;
  border-radius: 3px;
  color: #4a4a4a; }

.c-form__btns {
  margin-top: 10px; }

.c-form__btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 700; }

.landing {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 100vh; }

.landing::after {
  content: "";
  background-image: url("../img/landing_background.png");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; }

.landing__header {
  margin: 5vh 0;
  text-align: center;
  padding: 20px; }

.landing__header__logo {
  width: 100%;
  max-width: 400px; }

.landing__title {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
  color: #676666;
  padding: 20px; }

.landing__action-btns {
  margin: 2.5rem 0 0.8rem 0;
  padding: 0 20px;
  text-align: center; }

.landing__action-btn {
  display: inline-block;
  margin: 0 5px;
  padding: 20px 0;
  width: 220px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border-radius: 3px; }

.about-us-img-wrapper {
  background-image: url("../img/about-us-img.png");
  background-size: cover;
  height: 100%;
  background-position: center center; }

.smartway--left {
  background-color: white;
  border-right: 2px solid #edf0f1;
  overflow: hidden;
  flex: 1; }

.smartway--right {
  flex: 1; }

.smartway__links-wrapper {
  overflow-y: scroll;
  height: 100%;
  margin-right: -25px; }

.smartway__links {
  list-style: none;
  margin: 0;
  padding: 0; }

.smartway__link {
  position: relative;
  margin: 10px;
  overflow: hidden;
  height: 40px;
  transition: height .4s ease; }
  .smartway__link a {
    padding-left: 15px;
    display: block;
    color: white;
    line-height: 40px; }

.smartway__link--active {
  height: 250px; }

.smartway__link__header {
  position: relative;
  font-family: "UniSansBold";
  background-color: #676666;
  border-radius: 3px;
  transition: color .4s ease; }
  .smartway__link__header a:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    background-color: #4c4c4c;
    color: #676666;
    line-height: 40px;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none; }
  .smartway__link__header:hover {
    background-color: #747373;
    color: #747373; }
    .smartway__link__header:hover a:after {
      background-color: #595959; }

.smartway__link--active .smartway__link__header {
  background-color: #e82618; }
  .smartway__link--active .smartway__link__header a:after {
    content: "\f078";
    background-color: #c10c00;
    color: #e82618; }
  .smartway__link--active .smartway__link__header:hover {
    background-color: #ea3c2f;
    color: #ea3c2f; }
    .smartway__link--active .smartway__link__header:hover a:after {
      background-color: #db0e00; }

.smartway__link__content {
  padding: 15px;
  text-align: justify;
  color: #b3b3b3;
  font-style: italic;
  height: 200px;
  overflow: auto; }
  .smartway__link__content p {
    margin: 0; }

.register__box {
  overflow-y: auto; }

.register__columns {
  display: flex;
  flex-direction: row; }

.register__title {
  padding-left: 20px;
  padding-top: 20px; }

.register__column {
  flex: 1;
  padding: 20px; }

.register__footer {
  float: right;
  padding-right: 20px; }

.map-marker {
  position: absolute;
  left: 450px;
  top: 220px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 200ms ease, transform 200ms ease; }
  .map-marker:before {
    content: "";
    position: absolute;
    left: -34px;
    top: 26px;
    width: 8px;
    height: 8px;
    background: #e82618;
    border-radius: 50%; }
  .map-marker:after {
    content: "";
    position: absolute;
    left: -40px;
    top: 20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 3px solid #e82618;
    border-radius: 50%; }
  .loaded .map-marker {
    opacity: 1;
    transform: translateY(0px); }

.contact__links {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

.contact__link .fa {
  float: left;
  margin-right: 30px; }
  .contact__link .fa:after {
    content: "";
    position: absolute;
    width: 1px;
    background: #ecedee;
    right: -18px;
    height: 20px;
    top: 20%; }
.contact__link .fa-map-marker {
  line-height: 35px; }

.contact-us-box {
  position: relative;
  overflow-y: auto; }
  .contact-us-box:before {
    background: url("/img/map-background-fade.png") center center;
    background-size: cover;
    background-position: top center;
    opacity: 0.5;
    width: 100%;
    position: absolute;
    height: 100%;
    content: ""; }

.contact__social-popup {
  position: absolute;
  left: 450px;
  top: 220px;
  width: 330px;
  height: auto;
  color: #676666;
  background: white;
  border: 1px solid rgba(103, 102, 102, 0.4);
  border-radius: 3px;
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 200ms ease 200ms, transform 200ms ease 200ms; }
  .loaded .contact__social-popup {
    opacity: 1;
    transform: translateX(0px); }
  .contact__social-popup:before, .contact__social-popup:after {
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    width: 10px;
    height: 10px;
    border: 10px solid;
    border-color: transparent;
    border-right-color: white; }
  .contact__social-popup:before {
    left: -21px;
    height: 12px;
    border-right-color: rgba(103, 102, 102, 0.4); }

.contact__social-popup li {
  position: relative; }
  .contact__social-popup li a {
    display: block;
    padding: 20px 25px;
    color: #676666; }
  .contact__social-popup li:not(:last-child):after {
    height: 1px;
    background: #ecedee;
    width: 80%;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 10%; }

.social__text {
  margin-left: 10px;
  padding-left: 20px;
  position: relative; }

.social__icons {
  position: absolute;
  bottom: 40px;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(103, 102, 102, 0.4);
  border-left: 0; }

.social__link {
  background: white; }
  .social__link a {
    padding: 15px 10px;
    display: block; }
  .social__link a, .social__link a:hover, .social__link a:active {
    color: #676666; }
  .social__link .fa {
    font-size: 25px; }

a:hover .fa-twitter {
  color: #55acee; }
a:hover .fa-facebook {
  color: #3b5998; }
a:hover .fa-linkedin {
  color: #0077b5; }

.candidates {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: 150px;
  padding-bottom: 200px; }

.candidates::after {
  content: "";
  background-image: url("../img/main_background.png");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; }

/*# sourceMappingURL=main.css.map */
