@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@font-face {
  font-family: UniSans;
  src: url("../fonts/Uni Sans Thin.otf") format("opentype"); }
@font-face {
  font-family: UniSansBold;
  src: url("../fonts/Uni Sans Heavy.otf") format("opentype"); }
html {
  font-size: 16px;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 700px; }
  @media screen and (max-width: 768px) {
    html {
      min-height: 550px; } }

body {
  border-top: 4px solid #e82618; }

a, a:visited, a:hover, a:active {
  text-decoration: none; }

*, *:after, *:before {
  box-sizing: border-box; }

.btn {
  letter-spacing: 1px; }

.btn--grey {
  background-color: #676666;
  transition: background 0.4s ease-in-out; }
  .btn--grey:hover {
    background-color: #4d4d4d; }

.btn--red {
  background-color: #e82618;
  transition: background 0.4s ease-in-out; }
  .btn--red:hover {
    background-color: #ba1e13; }

.page-body {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: 150px;
  padding-bottom: 120px; }

.page-body::after {
  content: "";
  background-image: url("../img/main_background.png");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; }

.u-content {
  margin: 40px 0; }
  .u-content:after {
    content: "";
    display: table;
    clear: both; }

.u-container {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%; }

.c-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color: #fbfcfd; }

.c-header__inner {
  position: relative;
  height: 100%; }

.c-header__logo-container {
  float: left;
  height: 100%;
  padding: 24px; }

.c-header__logo {
  height: 100%; }

.c-header__links {
  float: right;
  margin: 65px 20px 15px 0;
  padding: 0;
  list-style: none; }

.c-header__link {
  position: relative;
  display: inline-block;
  padding: 20px 0; }
  .c-header__link a {
    padding: 30px 5px;
    color: #4a4a4a;
    transition: color .4s ease; }
  .c-header__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    background-color: transparent;
    height: 5px;
    transition: background-color .4s ease; }

.c-header__link:hover a {
  color: black; }
.c-header__link:hover:after {
  background-color: #676666; }

.c-header__link--active a {
  color: black; }
.c-header__link--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  background-color: #676666;
  height: 5px; }

@media screen and (max-width: 880px) {
  .c-header__link {
    display: none;
    text-align: center; }

  .c-header__link--active {
    display: block; } }
.c-header__links-upper {
  position: absolute;
  top: -1px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

.c-header__link-upper {
  font-family: "UniSansBold";
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  width: 130px;
  border: 1px solid #ecedee;
  border-top-width: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ffffff;
  transition: background 0.4s ease-in-out; }
  .c-header__link-upper a {
    display: block;
    color: #676666;
    padding: 10px 20px; }
  .c-header__link-upper:hover {
    background-color: #f2f2f2; }

.c-header__link-upper--active {
  background-color: #e82618;
  border: 1px solid #e82618; }
  .c-header__link-upper--active a {
    color: #ffffff; }
  .c-header__link-upper--active:hover {
    background-color: #ba1e13; }

.c-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: #676666;
  border-bottom: 4px solid #4a4a4a; }
  @media screen and (max-width: 768px) {
    .c-nav {
      height: 80px; } }

.c-nav__btns {
  text-align: center;
  padding: 0;
  margin: 0;
  transform: translateY(-40px); }

.c-nav__btn {
  position: relative;
  display: inline-block;
  margin: 0 45px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.4); }
  @media screen and (max-width: 768px) {
    .c-nav__btn {
      margin: 0 20px;
      border-width: 4px; } }
  @media screen and (max-width: 320px) {
    .c-nav__btn {
      margin: 0 15px;
      border-width: 4px; } }

.c-nav__link {
  height: 100px;
  width: 100px;
  display: block;
  background-color: white;
  border-radius: 50%;
  transition: background-color, 0.4s, ease; }
  .c-nav__link:hover {
    background-color: #4d4d4d; }
  @media screen and (max-width: 768px) {
    .c-nav__link {
      height: 60px;
      width: 60px; } }

.c-nav__fa-icon {
  color: #676666;
  line-height: 100px;
  transition: color, 0.4s, ease; }
  .c-nav__link:hover .c-nav__fa-icon {
    color: white; }
  @media screen and (max-width: 768px) {
    .c-nav__fa-icon {
      line-height: 60px;
      font-size: 2em; } }

.c-nav__btn__text {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  color: white;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    .c-nav__btn__text {
      font-size: 10px;
      bottom: -30px; } }

.c-box {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #edf0f1;
  border-radius: 3px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  min-height: 535px;
  height: calc(100vh - 150px - 120px - 90px); }
  @media screen and (max-width: 768px) {
    .c-box {
      flex-direction: column; } }
  .c-box:after {
    content: "";
    display: table;
    clear: both; }

.c-box__column {
  padding: 8px;
  height: 100%;
  overflow: scroll; }

.c-box__column--left {
  flex: 1;
  overflow: scroll; }

.c-box__column--right {
  flex: 1;
  padding: 20px 50px; }

.c-box__title {
  font-family: "Roboto", sans-serif;
  color: #e82618;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 10px 0; }

.landing {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100%; }

.landing::after {
  content: "";
  background-image: url("../img/landing_background.png");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; }

.landing__header {
  margin: 5vh 0;
  text-align: center;
  padding: 20px; }
  @media screen and (max-width: 768px) {
    .landing__header {
      margin: 10px 0 0 0; } }

.landing__header__logo {
  width: 100%;
  max-width: 400px; }

.landing__title {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
  color: #676666;
  padding: 20px; }
  @media screen and (max-width: 768px) {
    .landing__title {
      font-size: 2.5rem; } }

.landing__action-btns {
  margin: 2.5rem 0 0.8rem 0;
  padding: 0 20px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .landing__action-btns {
      margin: 1rem 0;
      padding: 0; } }

.landing__action-btn {
  display: inline-block;
  margin: 0 5px;
  padding: 20px 0;
  width: 220px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 3px; }
  @media screen and (max-width: 768px) {
    .landing__action-btn {
      width: 140px;
      font-size: 0.8rem;
      padding: 15px 0; } }

.about-us-img-wrapper {
  background-image: url("../img/about-us-img.png");
  background-size: cover;
  height: 100%;
  min-height: 300px;
  background-position: center center; }

.smartway__links-wrapper {
  background-color: white;
  border-right: 2px solid #edf0f1; }

.smartway__links {
  list-style: none;
  margin: 0;
  padding: 0; }

.smartway__link {
  position: relative;
  margin: 10px;
  overflow: hidden;
  height: 40px;
  transition: height .4s ease; }
  .smartway__link a {
    padding-left: 15px;
    display: block;
    color: white;
    line-height: 40px; }

.smartway__link--active {
  height: 250px; }

.smartway__link__header {
  position: relative;
  font-family: "UniSansBold";
  background-color: #676666;
  border-radius: 3px;
  transition: color .4s ease; }
  .smartway__link__header a:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    background-color: #4c4c4c;
    color: #676666;
    line-height: 40px;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none; }
  .smartway__link__header:hover {
    background-color: #747373;
    color: #747373; }
    .smartway__link__header:hover a:after {
      background-color: #595959; }

.smartway__link--active .smartway__link__header {
  background-color: #e82618; }
  .smartway__link--active .smartway__link__header a:after {
    content: "\f078";
    background-color: #c10c00;
    color: #e82618; }
  .smartway__link--active .smartway__link__header:hover {
    background-color: #ea3c2f;
    color: #ea3c2f; }
    .smartway__link--active .smartway__link__header:hover a:after {
      background-color: #db0e00; }

.smartway__link__content {
  padding: 15px;
  text-align: justify;
  color: #b3b3b3;
  font-style: italic;
  height: 200px;
  overflow: scroll; }

/*# sourceMappingURL=main.css.map */
