html{
  font-size: 16px;
  font-family: "UniSans", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 700px;

  @media screen and (max-width: $screen-tablet) {
    min-height: 550px;
  }
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}