.btn {
  // font-family: "UniSansBold";
  letter-spacing: 1px;
}

.btn--grey {
  background-color: $secondary-color;
  transition: background 00.2s ease-in-out;
  &:hover {
    background-color: darken( $secondary-color, 10% );
  }
}

.btn--red {
  background-color: $primary-color;
  transition: background 00.2s ease-in-out;
  &:hover {
    background-color: darken( $primary-color, 10% );
  }
}