@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");


@font-face {
  font-family: UniSans;
  src: url("../fonts/Uni Sans Thin.otf") format("opentype");
}

@font-face {
  font-family: UniSansBold;
  src: url("../fonts/Uni Sans Heavy.otf") format("opentype");
}
// Fonts
$font-roboto: "Roboto", sans-serif;
$font-unisans-bold: "UniSansBold", sans-serif;

// Colors
$primary-color: #AF272F;
$primary-dark: darken(#AF272F, 15%);

$secondary-color: #676666;
$secondary-lowlight: #4a4a4a;
$secondary-dark: #4c4c4c;
$secondary-border-box: #edf0f1;
$secondary-border-form: #cccccc;

$color-white: #ffffff;

// Media Queries
$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1024px;

$header-max: 880px;