@import 'config';
@import 'base';
@import 'buttons';

@import 'trumps/clearfix.trump';

@import 'utils/main_page';
@import 'utils/content';
@import 'utils/container';

@import 'components/header';
@import 'components/footer';
@import 'components/box';
@import 'components/form';

@import 'pages/landing';
@import 'pages/clients'; // about us page
@import 'pages/smartway';
@import 'pages/register';
@import 'pages/ourclients';
@import 'pages/contact';

@import 'pages/candidates'; // about us page