.u-content {
  position: fixed;
  max-width: 1000px;
  width: 1000px;
  right: auto;
  left: auto;
  top: 200px;
  bottom: 210px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}