.page {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.wrapper::after {
  content: "";
  background-image: url("../img/main_background.png");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}