.clients {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: 150px;
}

.clients::after {
  content: "";
  background-image: url("../img/main_background.png");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.clients-img-wrapper {
  background-image: url("../img/about-us-img.png");
  background-size: cover;
  height: 100%;
  min-height: 300px; // TODO revisit this 
  background-position: center center;
}