.aboutus__box {
  flex-direction: column;
}

.aboutus--top {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.aboutus--bottom {
  flex: 1;
}

.aboutus__title {
  padding-left: 200px;
}

.aboutus__img {
  background-image: url("../img/iain.png");
  background-size: cover;
  background-position: center center;
  margin: 8px;
}

.testimonials {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.testimonial {
  position: relative;
  padding: 20px 200px;
}

.testimonial__quotation-img {
  width: 160px;
  position: absolute;
  left: 20px;
  top: 60px;
  opacity: 0.4;
}

.testimonial__company {
  font-weight: 400;
}

.testimonial__author {
  text-align: right;
}