.landing {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.landing::after {
  content: "";
  background-image: url("../img/landing_background.png");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.landing__header {
  margin: 5vh 0;
  text-align: center;
  padding: 20px;

  @media screen and (max-width: $screen-tablet) {
    margin: 10px 0 0 0;
  }
}

.landing__header__logo {
  width: 100%;
  max-width: 400px;
}

.landing__title {
  font-family: $roboto-font;
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
  color: $secondary-color;
  padding: 20px;

  @media screen and (max-width: $screen-tablet) {
    font-size: 2.5rem;
  }
}

.landing__action-btns {
  margin: 2.5rem 0 0.8rem 0;
  padding: 0 20px;
  text-align: center;

  @media screen and (max-width: $screen-tablet) {
    margin: 1rem 0;
    padding: 0;
  }
}

.landing__action-btn {
  display: inline-block;
  margin: 0 5px;
  padding: 20px 0;
  width: 220px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 3px;

  @media screen and (max-width: $screen-tablet) {
    width: 140px;
    font-size: 0.8rem;
    padding: 15px 0;
  }
}
