.ourclients__title {
  text-align: center;
}

.ourclients__row {
  margin: 25px auto;
  text-align: center;
}

.ourclients__img-wrap {
  display: inline-block;
  text-align: center;
  height: 70px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.8;
  margin: 0 25px;

  transition: filter 0.2s ease,
              -webkit-filter 0.2s ease,
              opacity 0.2s ease;

  &:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    opacity: 1;
  }
}

.ourclients__img {
  height: 100%;
}
