.register__box {
}

.register__columns {
  display: flex;
  flex-direction: row;
  @extend .t-clearfix;
}

.register__header {
  padding-left: 20px;
  padding-top: 20px;
}

.register__column {
  flex: 1;
  padding: 20px;
}

.register__btns {
  @extend .t-clearfix;
}

.register__footer {
  position: relative;
  padding-left: 20px;
}

.register__footer-inner {
  width: 85%;
}

.register__footer__title {
  font-size: 22px;
  font-weight: 300;
}

.register__footer__tastecard-title {
  text-decoration: underline;
}

.register__footer__tastecard-benefits {
  font-size: 15px;
}

.register__footer__tastecard-benefit {
  padding: 2px 0;
}

.register__footer__tastcard-img {
  width: 120px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  margin-right: 20px;
}

.register__footer--italic {
  font-style: italic;
}