.c-box {
  background-color: rgba($color-white, 0.7);
  border: 2px solid $secondary-border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.c-box__column {
  padding: 8px;
  &:empty {
    display: none;
  }
}

.c-box__column--left {
  flex: 2;
  height: 100%;
}

.c-box__column--right {
  flex: 3;
  overflow-y: auto;
  padding: 20px 50px;
}

.c-box__title {
  font-family: $roboto-font;
  color: $primary-color;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 10px 0;
}
