.c-form-group {
  display: block;
  margin-bottom: 15px;
}

.c-form__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 6px;
  font-weight: 700;
}

.c-form__control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 34px;
  color: $secondary-lowlight;
  font-size: 14px;
  background-color: $color-white;
  border: 1px solid $secondary-border-form;
  border-radius: 3px;
}

.c-form__file-upload {
  border: 3px dashed $secondary-border-form;
  border-radius: 3px;
  color: $secondary-lowlight;
}

.c-form__btns {
  margin-top: 10px;
  float: right;
}

.c-form__btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  color: $color-white;
  font-weight: 700;
}