.c-header {
  height: 130px;
  background-color: #fbfcfd;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.c-header__inner {
  position: relative;
  height: 100%;
}

.c-header__logo-container {
  float: left;
  height: 130px;
  padding: 24px;
}

.c-header__logo {
  height: 100%;
}

.c-header__links {
  float: right;
  margin: 55px 20px 15px 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.c-header__link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  text-transform: uppercase;

  a {
    padding: 30px 5px;
    color: $secondary-lowlight;
    transition: color 0.2s ease;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    background-color: transparent;
    height: 5px;
    transition: background-color 0.2s ease;
  }
}

.c-header__link:hover {
  a {
    color: darken($secondary-lowlight, 30%);
  }

  &:after {
    background-color: $secondary-color;
  }
}

.c-header__link--active {

  a {
    color: darken($secondary-lowlight, 20%);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    background-color: $secondary-color;
    height: 5px;
    @media screen and (max-width: $header-max) {
      right: 0;
    }
  }
}

@media screen and (max-width: $header-max) {
  .c-header__link {
    display: none;
    text-align: center;
  }

  .c-header__link--active {
    display: block;
    padding-right: 20px;

    &:before {
      content: "\f078";
      color: darken($secondary-lowlight, 5%);
      position: absolute;
      font-family: FontAwesome;
      right: 0;
    }
  }
}

.c-header__select {
  display: none;

  @media screen and (max-width: $header-max) {
    position: absolute;
    top: 80px;
    right: 10px;
    display: block;
    height: 40px;
    width: 140px;
    outline: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    visibility: visible;
    border: 0;
    line-height: 40px;
    opacity: 0;
  }
}

//---------------------------------------------------
// Upper Client and Candiate links
//---------------------------------------------------
.c-header__links-upper {
  position: absolute;
  top: -1px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-header__link-upper {
  font-family: $font-unisans-bold;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  width: 130px;
  border: 1px solid #ecedee;
  border-top-width: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $color-white;
  transition: background 00.2s ease-in-out;
  a {
    display: block;
    color: $secondary-color;
    padding: 10px 20px;
  }
  &:hover {
    background-color: darken( $color-white, 5% );
  }
}

.c-header__link-upper--active {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  a {
    color: $color-white;
  }
  &:hover {
    background-color: darken( $primary-color, 10% );
  }
}